body {
    width: 800px;
    margin: auto;
    background-color: beige;  
    text-align: center;
}

#container {
    max-width: 500px;
    margin: auto;
}

header {
    text-align: center;
}

td {
    /* border: 1px solid blue; */
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
  
td:hover {
    background: aqua;
    cursor: pointer;
}
  
table {
    background-color: white;
    margin-left: 90px;
    margin-top: 10px;
}

#row1 td:nth-child(1) {
    border-right: thick ridge slategrey;
    border-bottom: thick ridge slategrey;
}
#row1 td:nth-child(2) {
    border-right: thick ridge slategrey;
    border-bottom: thick ridge slategrey;
}
#row1 td:nth-child(3) {
    border-bottom: thick ridge slategrey;
}

#row2 td:nth-child(1) {
    border-right: thick ridge slategrey;
    border-bottom: thick ridge slategrey;
}

#row2 td:nth-child(2) {
    border-right: thick ridge slategrey;
    border-bottom: thick ridge slategrey;
}
#row2 td:nth-child(3) {
    border-bottom: thick ridge slategrey;
}

#row3 td:nth-child(1) {
    border-right: thick ridge slategrey;
}

#row3 td:nth-child(2) {
    border-right: thick ridge slategrey;
}


#message {
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
}

.clickedClass {
    background-color: aqua;

}