body {
    margin: auto;
}

td {
    border: 1px solid blue;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
  
td:hover {
    background: orange;
    cursor: pointer;
}
  
table {
    border: 1px solid green;
}